

  <div class="container">
    <h1 class="display-3">
      Welcome to my simple CRUD application.
    </h1>
    <h4>
      Here you can register, log in and start creating your own snippets with or without tags attached.
    </h4>

    <h4>
      As an anonomous surfer you are welcome to view the contents of the dashboard <a href="<%= baseURL %>dash">here</a>.
    </h4>
    
