
html, body, #root {
  height: 100%;
  padding: 0;
  overflow: auto;
  text-align: center;
  flex-direction: column;
  padding-bottom: 20px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.read-the-docs {
  color: #888;
}

.login-background {
  background-image: url('./images/test6.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;     
  align-items: center; 
  justify-content: center;
}

.login-container {
  background-color: transparent;
  padding: 2rem;
  border-radius: 8px;
}


.petsee-text {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}


.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home-background {
 /* min-height: 100%; */
 min-height: calc(100% - 60px);
 padding-bottom: 60px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./images/test2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-card {
  height: 330px;
}

.contact-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}

.support-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}

.register-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}


.nav-link:hover {
  background-color: #e043f5;
  transform: scale(1.1);
  color: #fff;
}

.right-nav-links {
  margin-right: 10px;
}


.card {
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 1.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  background-color: #adb2f0;
  border-radius: 1px;
  padding: 1px;
  margin: 2px;
  color: black;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 16px;
}


.feature-cards-container {
  max-width: 500px;
  margin-bottom: 10px;
}


.pet-image-section {
  text-align: center;
  margin-top: 20px;
}

.pet-image-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #adb2f0;
  line-height: 0;
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pet-image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.pet-image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pet-image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


.file-upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #adb2f0;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.file-upload-btn:hover {
  background-color: #9a95f3;
}

.pet-image-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.petdetails-container {
  text-align: center;
  align-items: center;
 display: flex;
 flex-direction: column;
 min-height: 100vh;  
 overflow-y: auto;
 margin-bottom: 70px;

}

.mb-3 {
  width: 50%;
  margin-bottom: 20px;
}

.petForm {
  width: 50%;
  margin-bottom: 20px;
}


.input-container {
  margin-top: 20px;
  margin-bottom: 1rem;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 80%;
  box-sizing: border-box;
}

.petcard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: rgb(253, 253, 253);
  /* width: 100%; */
    max-width: 300px;
    
}

.pet-details-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1px; 
  padding: 0px;
  
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.icon-button {
  font-size: 24px;
  color: #091518;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.card-image-top {
  max-height: 250px;
  width: 400px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.card-text {
  column-count: 1;
  max-height: 300px;
  overflow: auto;
  font-size: 1em;
}


.activityForm {
  margin-bottom: 20px;
}

.mealForm {
  margin-bottom: 20px;
}


.editmeal-nutrients-card {
  margin-bottom: 10px;
  margin-top: px;
}

.center-select {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.save-button {
  margin-top: 20px;
  border-radius: 20px;
}

.diet-details-container {
  justify-content: center;
  align-items: center;
}

.addmeal-nutrients-card {
 margin: 1px auto;
}

.card-headerStyle {
  font-family: "Varela Round", sans-serif;
  color: blue;
  font-size: 20px;
  font-weight: bold;
}


.react-datepicker {
  border: 1px solid #ced4da;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #e9ecef;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  resize: none;
}

textarea:focus {
  border-color: #80bdff;
  outline: none;
}

.schedule-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.schedule-details-container form {
  width: 100%;
  max-width: 500px;
}


.ReactModal__Overlay {
  z-index: 1000;
}

.ReactModal__Content {
  z-index: 1001;
}

.summary-card {
  background-color: #21b86c;
  color: white;
  border-color: #3e8e41;
  padding: 10px;
  border-radius: 10px;
}


.dock-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.dock-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  height: 60px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

.dock-icon:hover {
  color: #18BC9C;
}

.button-container {
  display: grid;
  gap: 16px;
  padding: 10px;
}

.button-container button {
  width: 100%;
  padding: 8px 0;
}

.custom-button {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 2rem;
}

.icon-left {
  font-size: 20px;;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.icon-right {
  margin-left: auto;
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  z-index: 0;
}

.icon-right > svg {
  position: relative;
  z-index: 1;
  color: #000;
}

.form-container {
  padding-bottom: 100px;
}

.custom-heading {
  font-family: 'Varela Round', sans-serif;
  color: #333;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Custom styles for DatePicker */
.custom-date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-date-picker input {
  border: 2px solid #adb2f0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 1rem;
}

.custom-date-picker input:focus {
  border-color: #007bff;
  outline: none;
}

.date-picker-icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #adb2f0;
}

.summary-card-home {
  border: none;
  background: none;
  box-shadow: none;
  text-align: center;
}

.summary-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 300px;
}


.custom-heading-home {
  font-family: 'Varela Round', sans-serif;
  color: hsl(293, 39%, 95%);
  font-size: 1.5rem;
  text-align: center;
  margin-top: px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flip-card {
  margin-bottom: 15px;
  position: relative;
  width: 25rem;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-bar-wrapper {
  width: 500px; 
  height: 270px; 
}


.progress-text {
  margin-left: 20px;
}

.progress-text p {
  display: flex;
  align-items: center;
}

.quadrant {
  width: 20px;
  height: 15px;
  margin-right: 10px;
  border-radius: 3px;
}


@media (max-width: 600px) { 
  .card, .flip-card {
    flex: 0 1 calc(40% - 8px);
    padding: 1px;
    height: auto;
    border-radius: 2px;
    /* margin: 1px; */
  }


  .card-title, .card-text {
    font-size: 12px;
  }

  .card-body {
    padding: 5px;
  }

  .icon-button {
    font-size: 10px;
    color: #4CAF50;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .icon-button {
    display: none;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .fc-event-title {
    font-size: 10px;
}

.fc-day-number {
    font-size: 10px;
}

.fc-col-header-cell {
    font-size: 12px;
}

.fc-col-header-cell-cushion {
  font-size: 8px;
}

.button-container button {
  font-size: 10px;
  border-radius: 4px;
}


.btn-primary {
  font-size: 15px;
}


.summary-card-home {
  flex: 0 1 calc(45% - 1px);
    padding: 1px;
    height: auto;
    border-radius: 2px;
}

.custom-heading-home {
  font-family: 'Varela Round', sans-serif;
  color: hsl(293, 39%, 95%);
  font-size: 0.6rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.mb-3 {
  width: 100%;
  margin-bottom: 20px;
}

.petForm {
  width: 100%;
  margin-bottom: 20px;
}


.summary-cards-container {
 width: 100%;
gap: 10px;
}

.progress-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
}


.progress-text {
  margin-left: 5px;
  font-size: 0.6rem;
}


.quadrant {

  width: 20%;
  margin-right: 1px;
  border-radius: 3px;
}


}























