#root {
 /*  max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-background {
  background-image: url('./images/test6.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;     
  align-items: center; 
  justify-content: center;
}

.login-container {
  background-color: transparent;
  padding: 2rem;
  border-radius: 8px;
}

/* .container, .container-fluid {
  height: 100%;       
  padding: 0;         
  margin: 0;       
} */

/* .input-field, .login-button {
  background-color: white;
  border: 1px solid #ccc; 
  padding: 0.5rem;
  border-radius: 4px;
} */

/* .login-button {
  background-color: #007bff; 
  color: white;
  border: none;
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  overflow: auto;
}

/* #root {
  min-height: 100%;
  overflow: hidden;
} */

/* .full-screen-background {
  background-image: url('./images/test6.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
} */


/* footer {
  background-color: #f3f3f3;
  color: #636363;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.petsee-text {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* .rounded-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
} */

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.home-background {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #f7fafc 33%,
    #d4ebe8 33%
  )
}

/* App.css */
.contact-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}

.support-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}

.register-background {
  background-color: rgb(243, 239, 239);
  height: 100vh;
}

/* App.css */

/* .nav-link {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 25px;
  background-color: #adb2f0;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Varela Round', sans-serif;
} */

.nav-link:hover {
  background-color: #e043f5;
  transform: scale(1.1);
  color: #fff;
}

.right-nav-links {
  margin-right: 10px;
}

/* .login-button {
  background-color: #adb2f0;
} */

.card {
  background-color: #adb2f0;
  border-radius: 20px;
  padding: 16px;
  margin: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
  max-height: 400px;
  
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 16px;
  
}

/* .login-background {
  position: relative; 
} */

.feature-cards-container {
  max-width: 500px;
  margin-right: 50px;
  margin-bottom: 10px;
  /* background-color: #adb2f0; */
}

/* .feature-card {
  background-color: rgb(38, 44, 119);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
} */


.pet-image-section {
  text-align: center;
  margin-top: 20px;
}

.pet-image-container {
  display: inline-block; /* Makes the container inline for center alignment */
  width: 200px; /* Set the width as needed */
  height: 200px; /* Set the height as needed */
  border-radius: 50%; /* Makes it circular */
  overflow: hidden; /* Ensures the image does not exceed the container's bounds */
  border: 2px solid #adb2f0; /* Optional: Adds a border to the circle */
  line-height: 0; /* Remove space below the image */
}

.pet-image {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Makes the image fill the container */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}



.pet-image-circle {
  width: 150px; /* or any size */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.pet-image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pet-image-circle {
  width: 150px;  /* or any size you prefer */
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


.file-upload-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #adb2f0;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.file-upload-btn:hover {
  background-color: #9a95f3;
}

.pet-image-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 20px;
  display: block; /* Ensure the image is block level to center it */
  margin-left: auto;
  margin-right: auto;
}

.petdetails-container {
 /*  text-align: center; */
 display: flex;
 flex-direction: column;
 min-height: 100vh;  /* Ensures minimum height is full viewport height */
 overflow-y: auto;
}

.input-container {
  margin-top: 20px;
  margin-bottom: 1rem;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 80%; /* Adjust width as per design requirements */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.petcard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
  width: 100%;
    max-width: 300px;
}

.pet-details-cards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* @media (min-width: 768px) {
  .petcard {
      width: 50%
  }
}

@media (min-width: 992px) {
  .petcard {
      width: 25%
  }
} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Space between card and icon */
}

.icon-button {
  font-size: 24px;
  color: #4CAF50;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.card-image-top {
  max-height: 150px; /* Set the maximum height as required */
  width: auto;
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}

.card-text {
  column-count: 1; /* Start with one column by default */
  max-height: 300px; /* Adjust based on your preference */
  overflow: auto; /* Allows scrolling if content exceeds max height */
}

.card-text p {
  /* position: relative; */
  /* padding-left: 20px; */
}

.card-text p::before {
/*   content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 50%; */
}

.diet-card {
  max-width: 300px; /* Maximum width of the card */
  max-height: 400px; /* Maximum height of the card */
  overflow: auto; /* Adds scrollbars if content exceeds the card's maximum height */
  margin-bottom: 20px; /* Adds space between the cards */
}




















